* {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px auto auto;
  gap: 20px;
}

.navbar {
  background-color: rgb(16, 16, 16);
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.brand {
  display: flex;
  text-decoration: none;
  color: white;
}

.menu {
  display: flex;
}

.menu > li {
  list-style-type: none;
  margin-right: 15px;
}

.menu > li > a {
  color: white;
  text-decoration: none;
}

.logo {
  color: rgb(255, 0, 0);
  margin-right: 10px;
  font-size: 22px;
}

.title-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.content {
  grid-column: 1/4;
}

.content-fluid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 25px;
}

.contactanos-form {
  grid-column: 1/2;
  display: grid;
}

.titulo-contactanos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: lighter;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: lighter;
  margin-bottom: 10px;
}

.form-control {
  border: none;
  border-bottom: 1px solid rgb(187, 187, 187);
  width: 500px;
}

.form-control-text-area {
  border-color: rgb(187, 187, 187);
  width: 500px;
  margin-bottom: 5px;
}

.submit-button {
  background-color: rgb(19, 102, 255);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 510px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.mapa {
  grid-column: 2/2;
  padding: 40px;
}

.ubicacion {
  padding-top: 20px;
  width: 500px;
  height: 350px;
}

footer {
  grid-column: 1/4;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 150px 50px;
}

.first-layer {
  grid-column: 1/4;
  background-color: rgb(16, 16, 16);
  justify-items: center;
  align-content: center;
}

.redes-sociales {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin-bottom: 20px;
}

.social-pills {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: white;
  align-content: center;
}

.social-links {
  list-style-type: none;
  text-decoration: none;
}

.social-icons {
  color: black;
  display: flex;
  justify-content: center;
}

.navegacion-footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
}

.footer-links {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.second-layer {
  grid-column: 1/4;
  background-color: rgb(0, 0, 0);
  justify-items: center;
  align-content: center;
}

.text-footer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
